#adder {
	/*width: 100%;*/
	height: 200;
	background-color: yellow;
	border: 1px solid black;
}

#handler {
	float: left;
	width: 100%;
}

#remaining {
	float: left;
	height: 100%;
	width: 50%;
	background-color: #00FFFF;
	}


#done {
	float: left;
	height: 100%;
	width: 50%;
	background-color: #00FF32;	
}

.task {
	clear: both;
	float: left;
	padding: 10px;
	margin: 5px;

	background-color: white;
	border-radius: 10px;
	border: 1px black solid;



}
