#adder {
	/*width: 100%;*/
	height: 30%;
	background-color: yellow;
	border: 1px solid black;
}


#remaining {
	float: left;
	height: 70%;
	width: 50%;
	background-color: #00FFFF;
	overflow: scroll;
	}


#done {
	float: left;
	display: inline-block;
	height: 70%;
	width: 50%;
	background-color: #00FF32;	
	overflow: scroll;
}

.task {
	position: relative;

	float: left;
	padding: 10px;
	margin: 5px;

	height: 100px;
	width: 200px;

	background-color: white;
	border-radius: 10px;
	border: 1px black solid;

	box-shadow: 10px 10px 5px #888888;
}

.work {
	height: 65%;
	padding: 5px;
	word-wrap: break-word;
	overflow: auto;
	background-color: #FFFFCC;
	border: 1px solid #FFCC00;
}

.button {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.myButton {
	background-color: #6699FF;
	height: 20px;
	border-radius: 5px;
	color: #FFFFFF;
}

