<!doctype HTML Frameset DTD>
<html ng-app>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="scripts/angular.min.js"></script>

		<!-- my files -->
		<script type="text/javascript" src="scripts/myone/toDoController.js"></script>
		<script type="text/javascript" src="scripts/myone/ToDo-Lib.js"></script>
	</head>
	<body>
		<div id="handler" ng-controller="toDoCtrl">

			<div id="adder">
				 <form ng-submit="addTodo()">
					<input type="text" ng-model="todoText"  placeholder="add new todo here">
					<input type="submit" value="add">
				</form>
			 </div>

			<div id="remaining" >
					<div ng-repeat="todo in toDos" class="task" draggable="true">
						{{todo.work}}
						<p>{{$index}}</p>
					</div>
			</div>

			<div id="done">
				<div ng-repeat="completedTask in completedTasks" class="task">
					{{completedTask.work}}
				</div>
			</div>


		</div>
	</body>
</html>

